Source: oxyos-configs
Section: misc
Priority: extra
Maintainer: OxyHQ <hello@oxy.so>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://os.oxy.so

Package: oxyos-configs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: config files for OxyOS
 Various configuration files for use with OxyOS.
